*   {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
}
.b1 {
    border: solid 2px black;
    margin: 2px;
    padding: 8px;
}
.div1    {
    border: solid 2px orange;
    padding: 8px;
}
.ima{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
}
.tit    {
    font-size: 32px;
    color: blue;
    
}